.schedule-container {
}
.tracks-container {
    display: flex;
    width: 100%;
}
.track-offset,
.track {
    flex: 1;
}
.slot {
    display: flex;
}
.slot-dropzone,
.slot-name {
    flex: 1;
}
.slot-dropzone.slot-shared {
    flex: 3;
}