table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 20px 0;
}

.session-speaker a {
  display: flex;
  align-items: center;
}

.session-speaker p {
  margin: 0;
}

.session-speaker .speaker-img img {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin-right: 16px;
}