/* Styling for text input blocks */
.appia-field-block .components-base-control__help {
  margin: 0;
  color: #757575;
}
.appia-field-block .hint {
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;
  color: #757575;
  font-style: italic;
}
.appia-blocks .components-base-control .components-base-control__field + .components-base-control__field {
  margin-top: 16px;
  margin-bottom: 0;
}
.appia-blocks .appia-field-block {
  font-family: Segoe UI, sans-serif;
  margin-bottom: 1em;
  position: relative;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  padding: 1em 1.25em 1em 1.25em;
  background: white;
  box-shadow: 0 10px 25px 2px rgba(0, 0, 0, 0.1);
}

.appia-blocks .appia-field-block label:nth-child(1) {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  display: block;
}
.appia-blocks .appia-field-block p,
.appia-blocks .appia-field-block input {
  font-size: 1rem;
}

.appia-input__rich-text {
  font-size: 1rem;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid lightgray;
  padding-top: 6px;
  padding-bottom: 0;
  color: #666666;
  transition: border-bottom 0.1s, padding 0.1s;
  box-sizing: content-box;
}

.appia-input__rich-text:focus {
  padding-bottom: 4px;
  padding-top: 0;
  border-bottom: 4px solid #1989c1;
  color: black;
  box-shadow: none;
}

.appia-blocks .appia-input__rich-text p {
  margin: 0;
  margin-bottom: 0;
}

.appia-field-block input[type="text"] {
  font-size: 1rem;
  padding: 0;
  border-radius: 0;
  border: none;
  padding-top: 8px;
  padding-bottom: 0;
  border-bottom: 2px solid lightgray;
  color: #666666;
  transition: border-bottom 0.1s, padding 0.1s;
  box-sizing: content-box;
}

.appia-field-block input[type="text"]:focus {
  padding-bottom: 6px;
  padding-top: 0;
  border-bottom: 4px solid #1989c1;
  color: black;
  box-shadow: none;
}

.appia-field-block input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.54);
}

.block-editor-block-list__layout 
 .appia-block 
 button.components-button {
  color: rgb(0, 124, 186);
  font-size: 0.75em;
  padding: 1.25em 1em;
  border: 2px solid rgb(0, 124, 186);
  transition: border 0.25s, color 0.25s, background 0.25s;
}

.block-editor-block-list__layout 
 .appia-block 
 button.components-button.upload-button 
 span {
  margin-right: 0.2em;
}

.block-editor-block-list__layout 
 .appia-block 
 button.components-button:focus,
.block-editor-block-list__layout 
 .appia-block 
 button.components-button:hover {
  background: #1989c1 !important;
  border: 2px solid #1989c1 !important;
  color: white !important;
  box-shadow: none !important;
}

.block-editor-block-list__layout 
 .appia-block 
 img.uploaded-image-display {
  max-width: 250px;
  display: block;
  margin: 1em 0;
}

.block-editor-block-list__layout 
 .appia-block 
 .components-datetime__date {
  border: none;
}

.block-editor-block-list__layout 
 .appia-block 
 .components-base-control.ungarnished
 .components-base-control__field {
  padding: 0;
  background: none;
  margin: 0;
  box-shadow: none;
 }
.block-editor-block-list__layout 
 .appia-block 
 .components-base-control.ungarnished
 .components-base-control__field
 input {
  background: none;
  padding: 0.25em;
  margin: 0;
 }

/* Checkboxes */
.appia-blocks .appia-checkbox span,
.appia-blocks .appia-radio input {
  position: absolute;
}
.appia-blocks .appia-checkbox label,
.appia-blocks .appia-checkbox p,
.appia-blocks .appia-radio .components-radio-control__option label {
  font-size: 1.1rem;
  margin-left: 1.75rem;
}
.appia-blocks .appia-checkbox label {
  font-weight: 600;
}

.appia-checkbox .components-base-control__field {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.components-base-control.appia-checkbox {
  margin-bottom: 24px;
}

.appia-blocks .appia-radio .components-radio-control__option {
  display: flex;
  align-items: center;
}

.appia-expiration .components-datetime__date {
  margin-top: 24px;
}

body.post-type-post_opp .wp-block {
  max-width: 992px;
}

body.post-type-post_speaker {
  background: aliceblue;
}

.block-editor-block-list__layout 
 .appia-blocks
 button.components-button.upload-button {
  color: rgb(0, 124, 186);
  font-size: 0.75em;
  padding: 1.25em 1em;
  border: 2px solid rgb(0, 124, 186);
  transition: border 0.25s, color 0.25s, background 0.25s;
}

.block-editor-block-list__layout 
 .appia-blocks
 button.components-button.upload-button 
 span {
  margin-right: 0.2em;
}

.block-editor-block-list__layout 
 .appia-blocks
 button.components-button.upload-button:focus,
.block-editor-block-list__layout 
 .appia-blocks
 button.components-button.upload-button:hover {
  background: #1989c1 !important;
  border: 2px solid #1989c1 !important;
  color: white !important;
  box-shadow: none !important;
}

.block-editor-block-list__layout 
 .appia-blocks
 img.uploaded-image-display {
  max-width: 250px;
  display: block;
  margin: 1em 0;
}