.wp-block {
  max-width: 1280px;
  margin: 0 32px;
}

.appia-blocks.schedule {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-size: 16px;
}

/* Search */

.appia-search-bottom {
  position: fixed;
  box-sizing: border-box;
  bottom: 24px;
  width: 100%;
  left: 0;
  padding: 0 28px;
  z-index: 10;
  background: white;
  border-top: 1px solid #eaeaea;
  box-shadow: 0 -6px 16px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.appia-search-sidebar {
  border-radius: 2em;
  padding: 0.75em;
  background: #eaeaea;
  display: flex;
  align-items: center;
  margin: 12px auto;

  width: 100%;
}

.appia-search-input::after {
  content: '';
  width: 0;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: blue;
  transition: width 0.2s;
}

.appia-search-input:focus::after {
  width: 100%;
}

.appia-search-input span {
  position: absolute;
}

.appia-search-input {
  width: 100%;
}

.appia-search-icon {
  display: block;
  flex: 0 1 auto;
  color: gray;
  margin: 0 8px;
}

/* Tracks */

.tracks-and-slots {
  /*border: 1px solid green;*/
}

.tracks-container {
  display: flex;
  width: 100%;
}

.tracks-container:nth-child(1):before {
  width: 25%;
  content: '';
}

.track {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.track .track-name {
  flex: 1 0 auto;
}

.track button {

}


/* Slots */

.slot {
  display: flex;
  border-top: 2px solid #eaeaea;
}

.slot-name-delete {
  display: flex;
}

.slot-name {
  margin: 2em 0;
  width: 25%;
}

.day .slot-name {
  margin: 2em auto;
  width: 50%;
}

.slot-children {
  display: flex;
  width: 75%;
}

.slot-child {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid gray;
}

.stored-session {
  padding: 0.5em 1em;
  margin: 1em;
  border: 1px solid orange;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  display: flex;
}

.slot .stored-session > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}


/* Add button */

/* Text input */
.tracks-and-slots .components-base-control__field {
  font-size: 16px;
  margin-bottom: 0;
}

.sched-text-input {
  border-radius: 4px;
  overflow: hidden;
}

.tracks-and-slots .sched-text-input input {
  font-size: 16px;
  background: #eaeaea;
  border: none;
  padding: 0.75em 0.5em;
}

.tracks-and-slots .sched-text-input input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.sched-text-input input ~ .sched-input-underline {
  width: 0%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: blue;
  transition: width 0.2s;
}

.sched-text-input input:focus ~ .sched-input-underline {
  width: 100%;
}

.visually-hidden {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); /* browsers in the future */
  height: 1px; 
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}