/* Pretty background color for gutenberg editor */
.post-type-post_sesh
 .block-editor__container {
  background: #bddee2;
}

/* Overriding gutenberg title block */
.post-type-post_sesh
 .editor-post-title__block > div:nth-child(1) {
  margin: 0;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  background: white;
  font-size: 2rem;
  box-shadow: 0 10px 25px 2px rgba(0, 0, 0, 0.1);
  font-family: -apple-system,
                BlinkMacSystemFont,
                Segoe UI,
                Roboto,
                Oxygen-Sans,
                Ubuntu,
                Cantarell,
                Helvetica Neue,
                sans-serif;
}
.post-type-post_sesh
 .editor-post-title__block > div:nth-child(1)
 label.screen-reader-text {
  display: block;
  clip: inherit;
  clip-path: inherit;
  position: inherit;
  width: auto;
  height: auto;
  overflow: visible;
  font-size: 1.25rem;
  margin-bottom: 8px;
}
.post-type-post_sesh
 .editor-post-title__block > div:nth-child(1)
 label.screen-reader-text:after {
  content: ':';
}
.post-type-post_sesh
 .editor-post-title__block
 textarea {
  font-family: -apple-system,
                BlinkMacSystemFont,
                Segoe UI,
                Roboto,
                Oxygen-Sans,
                Ubuntu,
                Cantarell,
                Helvetica Neue,
                sans-serif;
  margin-top: 1rem;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0;
  border-bottom: 2px solid lightgray;
  padding: 3px 0 3px 0;
  color: #666666;
  transition: all 0.1s;
  box-shadow: none !important;
  border-top: none;
  border-right: none;
}
.post-type-post_sesh
 .editor-post-title__block
 textarea:focus {
  padding: 0 0 6px 0;
  box-shadow: none !important;
  border-top: none;
  border-right: none;
  border-bottom: 4px solid #1989c1 !important;
  color: black;
  box-shadow: none;
}

/* Styling for text input blocks */
.block-editor-block-list__layout 
 .appia-block 
 .components-base-control {
  margin-bottom: 2.5em;
  position: relative;
}
.block-editor-block-list__layout 
 .appia-block 
 .components-base-control
 .components-base-control__help {
  font-size: 1.125em;
  margin-left: 1.75em;
  position: absolute;
  bottom: 0;
  margin-bottom: 1em;
  color: #757575;
}
.block-editor-block-list__layout 
 .appia-block 
 .components-base-control 
 .components-base-control__field {
  margin-bottom: 0;
  border: none;
  border-radius: 0.5rem;
  padding: 1em 1.25em 1em 1.25em;
  background: white;
  font-size: 1.5em;
  box-shadow: 0 10px 25px 2px rgba(0, 0, 0, 0.1);
}
.block-editor-block-list__layout 
 .appia-block 
 .components-base-control.helper-label
 .components-base-control__field {
  padding: 1em 1.25em 3em 1.25em;
}

.block-editor-block-list__layout 
 .appia-block 
 .components-base-control 
 .components-base-control__field 
 .block-editor-rich-text__editable {
  padding: 0;
  margin-top: 1em;
  font-size: 0.75em;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid lightgray;
  padding-bottom: 3px;
  color: #666666;
  transition: border-bottom 0.1s, padding 0.1s;
}

.block-editor-block-list__layout 
 .appia-block 
 .components-base-control 
 .components-base-control__field 
 .block-editor-rich-text__editable:focus {
  padding-bottom: 6px;
  border-bottom: 4px solid #1989c1;
  color: black;
  box-shadow: none;
}
.block-editor-block-list__layout 
 .appia-block 
 .components-base-control 
 .components-base-control__field 
      input[type="text"]::placeholder {
        color: rgba(0, 0, 0, 0.54);
}

.block-editor-block-list__layout 
 .appia-block 
 .components-base-control 
 .components-base-control__field 
 .block-editor-rich-text__editable 
 p {
  margin: 8px 0 0 0 !important;
}

.block-editor-block-list__layout 
 .appia-block 
 .components-base-control 
 .components-base-control__field 
 input[type="text"] {
  padding: 0;
  margin-top: 1em;
  font-size: 0.75em;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid lightgray;
  color: #666666;
  transition: border-bottom 0.1s, padding 0.1s;
}

.block-editor-block-list__layout 
 .appia-block 
 .components-base-control 
 .components-base-control__field 
 input[type="text"]:focus {
  padding-bottom: 6px;
  border-bottom: 4px solid #1989c1;
  color: black;
  box-shadow: none;
}

.block-editor-block-list__layout 
 .appia-block 
 .components-base-control 
 .components-base-control__field 
      label {
  display: block;
  margin-bottom: 8px;
}

.block-editor-block-list__layout 
 .appia-block 
 button.components-button {
  color: rgb(0, 124, 186);
  font-size: 0.75em;
  padding: 1.25em 1em;
  border: 2px solid rgb(0, 124, 186);
  transition: border 0.25s, color 0.25s, background 0.25s;
}

.block-editor-block-list__layout 
 .appia-block 
 button.components-button.upload-button 
 span {
  margin-right: 0.2em;
}

.block-editor-block-list__layout 
 .appia-block 
 button.components-button:focus,
.block-editor-block-list__layout 
 .appia-block 
 button.components-button:hover {
  background: #1989c1 !important;
  border: 2px solid #1989c1 !important;
  color: white !important;
  box-shadow: none !important;
}

.block-editor-block-list__layout 
 .appia-block 
 img.uploaded-image-display {
  max-width: 250px;
  display: block;
  margin: 1em 0;
}

.block-editor-block-list__layout 
 .appia-block 
 .components-datetime__date {
  border: none;
}

.slot {
  display: flex;
  width: 100%;
  padding: 1em;
  background: aliceblue;
  margin: 0.5em;
}

.block-editor-block-list__layout 
 .appia-block 
 .components-base-control.ungarnished
 .components-base-control__field {
  padding: 0;
  background: none;
  margin: 0;
  box-shadow: none;
 }
.block-editor-block-list__layout 
 .appia-block 
 .components-base-control.ungarnished
 .components-base-control__field
 input {
  background: none;
  padding: 0.25em;
  margin: 0;
 }